{% extends 'base.html.twig' %}

{% block title %}Panier !
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/top.css') }}" rel="stylesheet">
	<link href="{{ asset('css/table.css') }}" rel="stylesheet">
	<link href="{{ asset('css/button.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}


	<div class="container wrapper py-5">
		<div class="d-flex justify-content-between">
			<h3 class="top">Mon panier :
				{{ quantityCart }}
				article(s)</h3>	
			<div>
				<a class="text-decoration-none btn btn-secondary btn-sm" href="{{ path('app_home') }}">
					<i class="fa-solid fa-square-caret-left"></i>Retour à la liste
				</a>
			</div>		
		</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Photo</th>
					<th scope="col">Article</th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix unité</th>
					<th scope="col">Prix par produit</th>
					{# <th scope="col">Action</th> #}
				</tr>
			</thead>
			<tbody>
				{% for element in dataCart %}
					<tr>

						<td><img src="imgs/covers/{{ element.article.cover }}" alt="{{element.article.title}}" width="70px"></td>
						<td>{{element.article.title}}</td>
						<td>
							<div class="d-flex justify-content-between text-decoration-none">
								<a class="text-decoration-none" href="{{path('add_cart', {'id' : element.article.id})}}">
									<i class="fa-solid fa-square-plus"></i>
								</a>

								<div class="d-flex text-end">{{element.quantity}}</div>
								<a class="text-decoration-none" href="{{path('remove_cart', {'id' : element.article.id})}}">
									<i class="fa-solid fa-square-minus"></i>
								</a>
							</div>
							<div class="d-flex justify-content-between pt-2">
								<a class="btn-sup text-center" href="{{ path('delete_cart', { 'id' : element.article.id }) }}">
									<i class="fa-solid fa-trash-can"></i>
									Supprimer
								</a>
							</div>
						</td>

						<td class="text-end">{{(element.article.price)|number_format(2,',',' ')}}
							€</td>
						{#<td>{{dataCarts.article.total}}</td>#}
						<td class="text-end">{{(element.quantity * element.article.price)|number_format(2,',',' ')}}
							€</td>
					</tr>
				{% endfor %}
				<tr>
					<td colspan="4" class="fw-bold">Total</td>
					<td class="text-end fw-bold">
						{{ (total) | number_format(2,',',' ') }}
						€</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
