{% extends 'base.html.twig' %}

{% block title %}Panier !
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/top.css') }}" rel="stylesheet">
	<link href="{{ asset('css/table.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}


	<div class="container wrapper py-6">
		<h1 class="top">Mon panier
			{{ quantityCart }}</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Photo</th>
					<th scope="col">Article</th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix unité</th>
					<th scope="col">Prix/produit</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for element in dataCart %}
					<tr>
						
						<td><img src="imgs/covers/{{ element.article.cover }}" alt="{{element.article.title}}" width="70px"></td>
						<td>{{element.article.title}}</td>
						<td>
							<a href="{{path('add_cart', {'id' : element.article.id})}}">
								<i class="fa-solid fa-plus"></i>
							</a>
							<div class="d-flex justify-content-space-between">{{element.quantity}}</div>
							<a href="{{path('remove_cart', {'id' : element.article.id})}}">
								<i class="fa-solid fa-minus"></i>
							</a>
						</td>

						<td class="text-end">{{(element.article.price)|number_format(2,',',' ')}}
							€</td>
						{#<td>{{dataCarts.article.total}}</td>#}
						<td class="text-end">{{(element.quantity * element.article.price)|number_format(2,',',' ')}} €</td>
						<td class="space-between">
							<a class="btn-sup text-decoration-none" href="{{ path('delete_cart', { 'id' : element.article.id }) }}">
								<i class="fa-solid fa-trash-can"></i>
								Supprimer
							</a>
						</td>		
					</tr>
				{% endfor %}
				<tr>
					<td colspan="4">Total</td>
					<td class="text-end"> {{ (total) | number_format(2,',',' ') }} €</td>
				</tr>
			</tbody>
		</table>


		{# {{ dump() }} #}
	</div>
{% endblock %}
