{% extends 'base.html.twig' %}

{% block title %}Account Utilisateur !
{% endblock %}

{% block body %}

	<div class="container py-4">

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		<div class="d-flex align-items-center justify-content-between">
			<h3>Bienvenue
				<span class="text-primary text-capitalize">
					{{ app.user.firstname }}
				</span>
			</h3>			
		</div>

		{# {% if is_granted('ROLE_ADMIN') %}
				<a class="btn btn-outline-warning" type="button" href="{{ path('new_article') }}">Ajouter un article</a>
				{% endif %} #}

		<div class="py-4">
			<p>Téléphone :
				{{ app.user.phone }}</p>
			<p>Email :
				{{ app.user.email }}</p>
			<p>Code postale :
				{{ app.user.zipcode }}
				- Ville :
				{{ app.user.city }}</p>

			{# Demander à utilisateur de completer ses donnée #}
			<a href="{{ path('edituser', { id: app.user.id }) }}" class=" btn btn-outline-success">
				Completer vos données
			</a>
		</div>

		{# Voir panier de l'utilisateur #}
		{# <h3>Mon panier</h3>
		
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Date de commande</th>
							<th scope="col">Nom de l'article</th>
							<th scope="col">Quantité</th>
							<th scope="col">Prix unité</th>
							<th scope="col">Total</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>€</td>
							<td>€</td>
							<td class="d-flex">
								<ul>
									<a href="#">Editer</a>
								</ul>
								<ul>
									<a href="#">Supprimer</a>
								</ul>						
							</td>
						</tr>
					</tbody>
				</table> #}
	</div>

{% endblock %}
