{# Utilisation du squelette de page base.html.twig #}
{% extends 'admin_base.html.twig' %}

{% set query = app.request.query.get('query') %}

{# Titre de la page #}
{% block title %}Résultat de la recherche "{{ query }}"
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/grid2.css') }}" rel="stylesheet">
	<link href="{{ asset('css/top.css') }}" rel="stylesheet">
{% endblock %}

{# Contenu de la page #}
{% block body %}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div
		class="container">

		{# Titre h1 #}
		<div class="row">
			<h1 class="col-12 text-center color-title my-5">Résultat de la recherche "{{ query }}"</h1>
		</div>

		<div class="row">
			<div class="col-12 col-md-8 mx-auto">
				<div
					class="row">
					{# Affichage du nombre total de publications (attribut apporté par knp_paginator) #}
					<p class="col-12 text-center color-title">Nombre total d'articles :
						{{ articles.getTotalItemCount }}</p>
				</div>

				{# S'il y a des articles, on affiche le menu de pagination de knp_paginator #}
				{% if articles is not empty %}
					<div
						class="grid pb-5">
						{# Boucle pour parcourir tous les articles à afficher #}
						{% for article in articles %}
							<div class="card">
								<a class="text-decoration-none" href="{{ path('details_article', {id: article.id })}}">
									<div class="imgBx">
										<img src="imgs/covers/{{ article.cover }}" alt="" width="">
										<div class="card-content">
											<h2 class="card-header">{{ article.title }}</h2>
											<div class="info">
												<h3 class="price">Prix :
													{{ article.price }}
													€</h3>
											</div>
										</div>
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
				{% else %}

					<div class="row">
						<p class="col-12 text-center alert alert-warning">Il n'y a aucun résultat.</p>
					</div>

				{% endif %}

				{# S'il y a des articles, on affiche le menu de pagination #}
				{% if articles is not empty %}

					<div class="row w-100">
						<div class="col-12 my-3 text-center text-color">
							<div class="d-inline-block">
								{{ knp_pagination_render(articles) }}
							</div>
						</div>
					</div>

				{% endif %}

			</div>
		</div>
	</div>
{% endblock %}
