{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/grid2.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Bienvenue au Jardin des Curieux !
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	{# Page d'accueil #}
	<div class="example-wrapper">

		<div class="py-4 text-capitalize">
			{% if is_granted('ROLE_USER') %}
				Bienvenue
				{{ app.user.userIdentifier }}
				!
			{% endif %}
		</div>

		<div
			class="py-4">

			{# Afficher le message success #}
			{% for message in app.flashes('success') %}
				<div class="alert alert-success" role="alert">
					{{ message }}
				</div>
			{% endfor %}

			{# {% if app.request.method == 'GET' %} #}
			<form method="GET" class="pb-4">
				<select onchange="this.form.submit();" id="id" name="id" class="form-select" aria-label="Default select example">
					<option selected value="0">Toutes les catégories</option>
					{% for category in categories %}

						<option value="{{ category.id }}">{{ category.name }}</option>

					{% endfor %}
				</select>
			</form>
			{# {% endif %} #}

			{# Pour formulaire d'option affichage nombre d'article par page #}
			{# ?numbers=3 #}
			{# <div class="py-5">
								<form
									method="GET">				
									<label for="numbers">Nombre d'article par page</label>
									<input type="hidden" name="page" value="{{ app.request.query.get('page', 1) }}">
									<select name="numbers" id="numbers" onchange="this.form.submit();">
										<option value="5">Choisissez une option</option>
										<option value="5">5 par page</option>
										<option value="3">3 par page</option>
										<option value="1">1 par page</option>
									</select>
								</form>
							</div> #}

				<div class="grid pb-5"> {% for article in articles %}

					<div class="card">
						<a class="text-decoration-none" href="{{ path('details_article', {id: article.id })}}">
							<div class="imgBx">

								{% if vich_uploader_asset(article,'coverFile') %}
									<img src="{{ vich_uploader_asset(article,'coverFile')|imagine_filter('thumb') }}" alt="image du produit">
								{% endif %}

								<div class="card-content">
									<h2 class="card-header">{{ article.title }}</h2>
									<div class="info">
										<h3 class="price">Prix :
											{{ article.price }}
											€</h3>
										{# <h3 class="category">
										{{ article.category.name }}</h3> #}
									</div>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>

			{{ knp_pagination_render(articles) }}

		</div>
	</div>

{% endblock %}
