{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link
	href="{{ asset('css/grid2.css') }}" rel="stylesheet">
	{# <link href="{{ asset('css/top.css') }}" rel="stylesheet"> #}
	<link href="{{ asset('css/header.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Bienvenue au Jardin des Curieux !
{% endblock %}

{% block body %}

	{# Page d'accueil #}
	<header class="header mt-5">
		{% if app.user is null %}
			<h1 class="word pt-3">Contactez-nous pour devenir notre revendeur !</h1>
		{% else %}
			<h1 class="word pt-3">Bienvenue
				{{ app.user.userIdentifier }}
				!</h1>
		{% endif %}
	</header>

	<div class="container">

		<div
			class="pb-2">

			{# Afficher le message success #}
			{% for message in app.flashes('success') %}
				<div class="alert alert-success" role="alert">
					{{ message }}
				</div>
			{% endfor %}

			<div class="row py-4 d-flex justify-content-center">
				<div class="col-2 text-end">
					Categorie 
				</div>
				<div
					class="col-8">
					{# {% if app.request.method == 'GET' %} #}
					<form method="GET" class="">
						<select onchange="this.form.submit();" id="id" name="id" class="form-select" aria-label="Default select example">
							<option selected value="0">Les catégories</option>
							{% for category in categories %}

								<option value="{{ category.id }}">{{ category.name }}</option>

							{% endfor %}
						</select>
					</form>
					{# {% endif %} #}
				</div>
			</div>
			{# Pour formulaire d'option affichage nombre d'article par page #}
			{# ?numbers=3 #}
			<form method="GET" class="d-flex justify-content-center">
				<label for="numbers">Nombre d'article par page:  </label>
				<input type="hidden" name="page" value="{{ app.request.query.get('page', 1) }}">
				<select name="numbers" id="numbers" onchange="this.form.submit();">
					<option value="100">Choisissez une option</option>
					<option value="12">12 par page</option>
					<option value="18">18 par page</option>
					<option value="6">6 par page</option>
					<option value="1">1 par page</option>
				</select>
			</form>

			<div class="grid w-100 pt-4">
				{% for article in articles %}
					<div
						class="card m-auto">
						{# <h3 class="card-header">{{ article.category.name }}</h3> #}
						<a class="text-decoration-none" href="{{ path('details_article', {id: article.id })}}">
							<div>
								<div class="card-content">
									<h2 class="card-header">{{ article.title }}</h2>									
								</div>
								<div>
									<img src="imgs/covers/{{ article.cover }}" alt="{{ article.title }}" class="img-fluid article-img">
								</div>
								{# <div class="info">
									<h3 class="price">Prix : {{ article.price }} €</h3>
								</div> #}
							</div>
						</a>
					</div>
				{% endfor %}
			</div>

			<div class="d-flex justify-content-center">
				{{ knp_pagination_render(articles) }}
			</div>
		</div>
	</div>
{% endblock %}
