{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/top.css') }}" rel="stylesheet">
	<link href="{{ asset('css/form.css') }}" rel="stylesheet">
    <link href="{{ asset('css/colom.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;            
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
    <div class="col">    
        <div class="example-wrapper formulaire py-4">
            
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <h3>Réinitialiser mon mot de passe</h3>
            
            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                <div class="pb-3">
                    <small>
                        Entrez adresse email de récupération du mot de passe.
                    </small>
                </div>

                <button class="btn btn-secondary btn-sm">Envoyer</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
