{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/top.css') }}" rel="stylesheet">
	<link href="{{ asset('css/form.css') }}" rel="stylesheet">
	<link href="{{ asset('css/button.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container formulaire py-4">
        <h3 class="reset">Réinitialiser mon mot de passe</h3>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn-reg">Reset password</button>
        {{ form_end(resetForm) }}

    </div>
    
{% endblock %}
