{% extends 'admin_base.html.twig' %}

{% block title %}Category
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/table.css') }}" rel="stylesheet">
	<link href="{{ asset('css/top.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/sort.js') }}" defer></script>
{% endblock %}

{% block body %}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div
		class="example-wrapper py-5">

		{# Afficher le message success #}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success" role="alert">
				{{ message }}
			</div>
		{% endfor %}

		<div class="d-flex align-items-center justify-content-between">
			<h1 class="d-flex align-items-center justify-content-between">Liste des catégories</h1>

			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('admin_new_category') }}" class="btn btn-secondary btn-sm align-items-right">
					Ajouter <i class="fa-solid fa-plus"></i>
				</a>
			{% endif %}
		</div>

		<div class="py-3">
			<form method="GET">
				<label for="numbers">Nombre de categorie par page</label>
				<input type="hidden" name="page" value="{{ app.request.query.get('page', 1) }}">
				<select name="numbers" id="numbers" onchange="this.form.submit();">
					<option value="100">Toutes les catégories</option>
					<option value="5">5 catégories</option>
					<option value="3">3 catégories</option>
				</select>
			</form>
		</div>

		<table class="table table-hover id=" mytable2"">
			<thead>
				<tr>
					<th scope="col" onclick="sortTable(0)">Catégorie</th>
					<th class="text-center" scope="col">Action</th>
				</tr>
			</thead>
			<tbody method="GET" id="id" name="id">
				{% for category in categories %}
					<tr>
						<td>							
							<a class="text-decoration-none text-black" href="{{ path('admin_listcat', {id: category.id }) }}" value="{{ category.id }}">
							{{ category.name }}</a>
						</td>

						{% if is_granted('ROLE_ADMIN') %}
							<td>
								<ul style="list-style: none; " class="d-flex justify-content-between">
									<div>
										<a class="text-decoration-none" href="{{ path('admin_edit_category', { id : category.id }) }}" title="Editer ce catégorie">
											<button class="btn btn-sm btn-success">
												Editer <i class="fa-solid fa-pencil"></i>
											</button>
										</a>
									</div>
									<div>
										<a class="text-decoration-none" href=""></a>
										<form action="{{ path('admin_delete_category', { id: category.id } ) }}" method="post" class="d-inline" title="Supprimer ce catégorie">
											<input type="hidden" name="token" value="{{ csrf_token('delete-category-'~ category.id) }}">
											<button class="btn btn-sm btn-danger">
												Supprimer <i class="fa-solid fa-trash-can"></i>
											</button>
										</form>
									</div>
								</ul>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>		
		{# Affiche la numérotations des pages #}
		{{ knp_pagination_render(categories) }}
	</div>
{% endblock %}
