<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Le Jardin des Curieux
			{% endblock %}
		</title>		
		
		
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{# {{ encore_entry_link_tags('app') }} #}
			<!-- CSS only -->
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
			<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
			<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<!-- JavaScript Bundle with Popper -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
			{# js pour le menu burger #}
			<script src="{{asset('bootstrap/js/jquery-3.4.0.min.js')}}"></script>
			<script src="{{asset('bootstrap/js/popper.min.js')}}"></script>
			<script src="{{asset('bootstrap/js/bootstrap.min.js')}}"></script>
		{% endblock %}
	</head>
	<body>

		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg bg">
			<div class="container-fluid ">
				<a class="navbar-brand text logo" href="{{ path('app_home') }}">
					Lejardindescurieux
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="justify-content-end">
					<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link text" aria-current="page" href="{{ path('app_home') }}">
									<i class="fa-solid fa-house"></i>
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link text" href="{{ path('about') }}">Qui sommes nous</a>
							</li>

							<li class="nav-item">
								<a class="nav-link text" href="{{ path('market') }}">Marchés</a>
							</li>

							{% if app.user is null %}
								<li class="nav-item">
									<a class="nav-link text" href="{{ path('app_register') }}">Ouvrir un compte</a>
								</li>
							{% endif %}

							{% if app.user is not null %}
								<li class="nav-item">
									<a class="nav-link text" href="{{ path('app_account') }}">Mon compte</a>
								</li>
							{% endif %}

							{% if app.user is null %}
								<li class="nav-item">
									<a class="nav-link text" href="{{ path('app_login') }}">Se connecter</a>
								</li>
							{% endif %}

							{% if app.user is not null %}
								<li class="nav-item">
									<a class="nav-link text" href="{{ path('app_logout') }}">Se déconnecter</a>
								</li>
							{% endif %}

							<li class="nav-item">
								<a class="nav-link text" href="{{ path('app_contact') }}">
									<i class="fa-solid fa-envelope"></i>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text" href="{{ path('app_cart') }}">Panier
								</a>	
							</li>

							{% if is_granted('ROLE_ADMIN') %}
								<li class="nav-item">
									<a class="nav-link text" href="{{ path('app_admin') }}">Admin</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
			<form class="d-flex col-12 col-lg-4" role="search" action="{{ path('search') }}">
				<input class="form-control me-2" name="query" type="search" placeholder="Rechercher article" aria-label="Search">
				<button class="btn text-white" type="submit">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</form>
		</nav>
		<div class="gradient"></div>
		{% block body %}{% endblock %}

		<footer
			class="text-center text-white footerBox w-100 py-4 flex-shrink-0">
			<!-- Grid container -->
			<div
				class="container py-4 pb-0">
				<!-- Section: Social media -->
				<section
					class="mb-4">
					<!-- Facebook -->
					<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
						<i class="fab fa-facebook-f"></i>
					</a>

					<!-- Twitter -->
					<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
						<i class="fab fa-twitter"></i>
					</a>

					<!-- Google -->
					<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
						<i class="fab fa-google"></i>
					</a>

					<!-- Instagram -->
					<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
						<i class="fa-brands fa-instagram"></i>
					</a>

					<!-- Linkedin -->
					<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
						<i class="fab fa-linkedin-in"></i>
					</a>

					<!-- Github -->
					<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
						<i class="fa-brands fa-github"></i>
					</a>

					<!-- Whatsapp -->
					<a class="btn btn-outline-light btn-floating m-1" href="https://wa.me/+33614993917" target="_blank" role="button">
						<i class="fa-brands fa-whatsapp"></i>
					</a>
				</section>

				<!-- Section: Social media -->
			</div>
			<!-- Grid container -->
			<hr style="width: 30%; margin: auto; height: 1px solid white !important;"></hr>
		<!-- Copyright -->
			<div class="text-center p-3">
				<div class="text-center adresse">
					<p>
						© 2022 Copyright:  Lejardindescurieux
					</p>
					<p>9 rue des Rondeau, 71240 VERS - FRANCE</p>
					<p>
						<a class="text-decoration-none text-white" href="mailto: lejardindescurieux@yahoo.fr">lejardindescurieux@yahoo.fr</a>
					</p>
				</div>
			</div>
		</footer>
	</body>
</html>
