{% extends 'base.html.twig' %}

{% block title %}Article !
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-6 align-items-center justify-content-between py-5">
				{% if vich_uploader_asset(article, 'coverFile') %}
					<img src="{{ vich_uploader_asset(article, 'coverFile')|imagine_filter('vignette') }}" alt="{{ article.title }}">
				{% endif %}
			</div>
			<div class="col-6 py-5">
				<div class="d-flex align-items-center justify-content-between">
					<p class="display-6">{{ article.title }}</p>
				</div>
				<div class="d-flex align-items-center justify-content-between">
					<p>Prix :
						{{ article.price }}€</p>
				</div>
				<div class="align-items-center justify-content-between pb-5">
					<p class="muted">Quantité disponible :
						{{ article.stock }}</p>
					<div class="align-items-center">
						<p>Catégory :
							{{ article.category.name }}</p>
					</div>
				</div>

				<div class="align-items-center justify-content-between pb-5">
					<p>Description :
						{{ article.description }}</p>
				</div>
			</div>
		</div>
		<a class="text-decoration-none btn btn-outline-success" href="{{ path('app_home') }}">Retour à la page d'accueil</a>
	</div>
{% endblock %}
