{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<div class="container w-50 py-4">

		<div class="d-flex align-items-center justify-content-between pb-5">
			<h1 class='d-flex'>Liste des articles</h1>
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('new_article') }}" class="btn btn-outline-success text-end">
					Ajouter une article
				</a>
			{% endif %}
		</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Photo</th>
					<th scope="col">Article</th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix</th>
					<th scope="col">Action</th>

					{% if is_granted('ROLE_ADMIN') %}
						<th class="text-center" scope="col">Action</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}					
					<tr>
						<td>
							<img src="{{ vich_uploader_asset(article,'coverFile')|imagine_filter('vignette') }}" alt="photo d'article" class="">
						</td>
						<td>
							{{ article.title }}
						</td>
						<td>
							{{ article.stock }}
						</td>
						<td>
							{{ (article.price/100)|number_format(2, ',', ' ')}}
							€
						</td>
						{# {% if is_granted('ROLE_USER') %} #}
						<td>
							<a href="{{ path("add_cart", { id : article.id }) }}" class="btn  btn-success">
								<i class="fa-solid fa-cart-arrow-down">Ajouter</i>								
							</a>
						</td>	
						{# {% endif %} #}

						{% if is_granted('ROLE_ADMIN') %}
							<td>
								<ul class="list d-flex justify-content-between">
									<div>
										<a class="text-decoration-none" href="{{ path('edit_article', { id : article.id }) }}" title="Editer cetter article">Editer
											<i class="fa-solid fa-pen-to-square fs-3"></i>
										</a>
									</div>
									<div>
										<a class="text-decoration-none" href="">Supprimer</a>
										<form action="{{ path('delete_article', { id: article.id } ) }}" method="post" class="d-inline">
											<input type="hidden" name="token" value="{{ csrf_token('delete-article-'~ article.id) }}">
											<button class="btn btn-sm btn-outline-danger">
												<i class="fa-solid fa-trash-can"></i>
											</button>
										</form>
									</div>
								</ul>
							</td>
						{% endif %}

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
